<%- include("header") -%> 
<div class="box" id="heading">
    <h1>About Us</h1>
</div>
<div class="box">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ad provident ipsam non! Illo ducimus adipisci sapiente perspiciatis nesciunt ea ratione laboriosam? Veniam enim ipsam ullam odio placeat sunt vero.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit animi soluta nulla molestias sequi voluptatibus omnis fugiat itaque ratione quo facere, earum rem totam ex dolorum enim molestiae dicta exercitationem.</p>
    
</div>
<%- include("footer") -%> 